@{
	Layout = "~/Views/Shared/_AdminLayout";
}
		<!-------page-content start----------->
		<div id="content">
			<!------top-navbar-start----------->
			<div class="top-navbar">
				<div class="xd-topbar">
					<div class="row">
						<div class="col-2 col-md-1 col-lg-1 order-2 order-md-1 align-self-center">
							<div class="xp-menubar">
								<span class="material-icons text-white">signal_cellular_alt</span>
							</div>
						</div>

						<div class="col-md-5 col-lg-3 order-3 order-md-2">
							<div class="xp-searchbar">
								<form>
									<div class="input-group">
										<input type="search" class="form-control" placeholder="Search">
										<div class="input-group-append">
											<button class="btn" type="submit" id="button-addon2">
												Go
											</button>
										</div>
									</div>
								</form>
							</div>
						</div>
					</div>

					<div class="xp-breadcrumbbar text-center">
						<h4 class="page-title">Dashboard</h4>
						<ol class="breadcrumb">
						</ol>
					</div>

				</div>
			</div>
			<!------top-navbar-end----------->
			<!------main-content-start----------->
			<div class="main-content">
				<div class="row">
					<div class="col-md-12">
						<div class="table-wrapper">

							<div class="table-title">
								<div class="row">
									<div class="col-sm-6 p-0 flex justify-content-lg-start justify-content-center">
										<h2 class="ml-lg-2">Manage Users</h2>
									</div>
									<div class="col-sm-6 p-0 flex justify-content-lg-end justify-content-center">
										<a href="#addEmployeeModal" class="btn btn-success" data-toggle="modal">
											<i class="material-icons">&#xE147;</i>
											<span>Add New Employees</span>
										</a>
										<a href="#deleteEmployeeModal" class="btn btn-danger" data-toggle="modal">
											<i class="material-icons">&#xE15C;</i>
											<span>Delete</span>
										</a>
									</div>
								</div>
							</div>

							<table class="table table-striped table-hover">
								<thead>
									<tr>
										@* <th>
											<span class="custom-checkbox">
												<input type="checkbox" id="selectAll">
												<label for="selectAll"></label>
										</th> *@
										<th>Id</th>
										<th>Email</th>
										<th>Number</th>
										<th>Password</th>
										<th>Actions</th>
									</tr>
								</thead>

								<tbody>
									<tr>
										<th>
											<span class="custom-checkbox">
												<input type="checkbox" id="checkbox1" name="option[]" value="1">
												<label for="checkbox1"></label>
										</th>

										@foreach (UserModel item in Model)
										{								
											<th>@item.Id</th>
											<th>@item.Email</th>
											<th>@item.PhoneNumber</th>
											<th>@item.PasswordHash</th>
										}
										@* <th>ThomasHardy@gmail.com</th>
										<th>+91238293829</th>
										<th>erf23hnaskjhf2342kjnncjasc</th> *@
										<th>
											<a href="#editEmployeeModal" class="edit" data-toggle="modal">
												<i class="material-icons" data-toggle="tooltip"
												   title="Edit">&#xE254;</i>
											</a>
											<a href="#deleteEmployeeModal" class="delete" data-toggle="modal">
												<i class="material-icons" data-toggle="tooltip"
												   title="Delete">&#xE872;</i>
											</a>
										</th>
									</tr>


								</tbody>
							</table>
						</div>
					</div>
					<!----add-modal start--------->
					@* <div class="modal fade" tabindex="-1" id="addEmployeeModal" role="dialog">
						<div class="modal-dialog" role="document">
							<div class="modal-content">
								<div class="modal-header">
									<h5 class="modal-title">Add Employees</h5>
									<button type="button" class="close" data-dismiss="modal" aria-label="Close">
										<span aria-hidden="true">&times;</span>
									</button>
								</div>
								<div class="modal-body">									
									<div class="form-group">
										<label>Email</label>
										<input type="email" asp-for="Email" id="Email" class="form-control" required>
										<span asp-validation-for="Email" class="text-danger"></span>
									</div>
									<div class="form-group">
										<label>Phone</label>
										<input type="text" asp-for="PhoneNumber" id="PhoneNumber" class="form-control" required>
										<span asp-validation-for="PhoneNumber" class="text-danger"></span>
									</div>
									<div class="form-group">
										<label>Password</label>
										<input type="text" asp-for="PasswordHas" id="PasswordHas" class="form-control" required>
										<span asp-validation-for="PasswordHas" class="text-danger"></span>
									</div>
								</div>
								<div class="modal-footer">
									<button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
									<button type="button" class="btn btn-success">Add</button>
								</div>
							</div>
						</div>
					</div>  *@
					<!----edit-modal end--------->
					<!----edit-modal start--------->
					<div class="modal fade" tabindex="-1" id="editEmployeeModal" role="dialog">
						<div class="modal-dialog" role="document">
							<div class="modal-content">
								<div class="modal-header">
									<h5 class="modal-title">Edit Employees</h5>
									<button type="button" class="close" data-dismiss="modal" aria-label="Close">
										<span aria-hidden="true">&times;</span>
									</button>
								</div>
								<div class="modal-body">									
									<div class="form-group">
										<label>Email</label>
										<input type="email" class="form-control" required>
									</div>
									<div class="form-group">
										<label>Phone</label>
										<input type="text" class="form-control" required>
									</div>
									<div class="form-group">
										<label>Paasword</label>
										<input type="text" class="form-control" required>
									</div>
								</div>
								<div class="modal-footer">
									<button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
									<button type="button" class="btn btn-success">Save</button>
								</div>
							</div>
						</div>
					</div>
					<!----edit-modal end--------->
					<!----delete-modal start--------->
					<div class="modal fade" tabindex="-1" id="deleteEmployeeModal" role="dialog">
						<div class="modal-dialog" role="document">
							<div class="modal-content">
								<div class="modal-header">
									<h5 class="modal-title">Delete Employees</h5>
									<button type="button" class="close" data-dismiss="modal" aria-label="Close">
										<span aria-hidden="true">&times;</span>
									</button>
								</div>
								<div class="modal-body">
									<p>Are you sure you want to delete this Records</p>
									<p class="text-warning"><small>this action Cannot be Undone,</small></p>
								</div>
								<div class="modal-footer">
									<button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
									<button type="button" class="btn btn-success">Delete</button>
								</div>
							</div>
						</div>
					</div>
					<!----edit-modal end--------->
				</div>
			</div>
			<!------main-content-end----------->
		</div>
	</div>
	<!-------complete html----------->