@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <title>Logout Confirmation</title>
    <script>
        alert("You have been logged out.");
        window.location.href = "/UserControlller/Index"; // Redirect to the home index page
    </script>
</head>
<body>
</body>
</html>
