body {
    margin: 0;
    line-height: normal;
}

:root {
    /* fonts */
    --base-button: Roboto;
    --font-work-sans: "Work Sans";
    --paragraph-small-regular: Inter;
    --font-sue-ellen-francisco: "Sue Ellen Francisco";
    --font-shanti: Shanti;
    --font-shippori-mincho: "Shippori Mincho";
    --font-satoshi: Satoshi;
    --ibm-plex-sans-subtitle-2-medium-14: "IBM Plex Sans";
    /* font sizes */
    --base-button-size: 15px;
    --paragraph-small-regular-size: 14px;
    --font-size-6xl: 25px;
    --font-size-xl: 20px;
    --font-size-base: 16px;
    --font-size-41xl: 60px;
    --font-size-17xl: 36px;
    --font-size-29xl: 48px;
    --font-size-21xl: 40px;
    --font-size-5xl: 24px;
    --font-size-13xl: 32px;
    --font-size-lg: 18px;
    --font-size-16xl: 35px;
    --font-size-2xl: 21px;
    --font-size-9xl: 28px;
    --font-size-71xl: 90px;
    --font-size-8xl: 27px;
    --font-size-26xl: 45px;
    --font-size-31xl: 50px;
    --font-size-11xl: 30px;
    /* Colors */
    --font-default-w: #fff;
    --color-green: #008000;
    --color-forestgreen: #26a626;
    --grey-500: #667185;
    --color-purple: #800080;
    --color-darkmagenta: #a626a6;
    --color-gainsboro-300: #e8e8e8;
    --color-gainsboro-400: #e7e7e7;
    --color-gainsboro-500: #e6e6e6;
    --color-gainsboro-100: #e3e3e3;
    --color-gainsboro-600: #dedede;
    --color-gainsboro-200: #dbdee0;
    --color-silver-200: #c5c5c5;
    --default-base-back-dark: #c4c4c4;
    --color-silver-100: #bcbcbc;
    --grey-400: #98a2b3;
    --primary-500-main: #4b4efc;
    --color-gray-300: #fffdfd;
    --color-gray-400: #919191;
    --color-gray-100: #808080;
    --grey-900: #101928;
    --color-gray-200: rgba(128, 128, 128, 0.5);
    --color-orange: #ffa500;
    --color-chocolate: #cc7300;
    --color-black: #000;
    --color-whitesmoke-100: #f8f8f8;
    --color-whitesmoke: #f5f7fa;
    --neutral-400: #f5f5f5;
    --color-whitesmoke-200: #f2f2f2;
    --color-lightsteelblue: #8ba3cb;
    --color-darkslategray: #2e4049;
    --color-dimgray-100: #727272;
    --color-dimgray-200: #546670;
    --neutral-700: #606060;
    --color-salmon: #ff6d6d;
    --blue-400: #2095fd;
    --blue-500: #027fee;
    /* Gaps */
    --gap-56xl: 75px;
    --gap-12xl: 31px;
    --gap-6xl: 25px;
    --gap-3xs: 10px;
    --gap-5xs: 8px;
    --gap-9xs: 4px;
    --gap-11xs: 2px;
    --gap-smi: 13px;
    --gap-lg: 18px;
    --gap-28xl: 47px;
    --gap-xl: 20px;
    --gap-mid: 17px;
    --gap-2xs: 11px;
    --gap-10xs: 3px;
    --gap-2xl: 21px;
    --gap-58xl: 77px;
    --gap-47xl: 66px;
    --gap-base: 16px;
    --gap-48xl: 67px;
    --gap-4xs: 9px;
    --gap-8xs: 5px;
    --gap-4xl: 23px;
    --gap-32xl: 51px;
    --gap-76xl: 95px;
    --gap-26xl: 45px;
    --gap-22xl: 41px;
    --gap-50xl: 69px;
    --gap-131xl: 150px;
    --gap-18xl: 37px;
    --gap-31xl: 50px;
    --gap-27xl: 46px;
    --gap-16xl: 35px;
    --gap-mini: 15px;
    --gap-21xl: 40px;
    --gap-81xl: 100px;
    --gap-11xl: 30px;
    --gap-3xl: 22px;
    --gap-20xl: 39px;
    --gap-13xl: 32px;
    --gap-6xs: 7px;
    --gap-92xl: 111px;
    --gap-17xl: 36px;
    --gap-41xl: 60px;
    --gap-52xl: 71px;
    --gap-121xl: 140px;
    --gap-101xl: 120px;
    --gap-35xl: 54px;
    --gap-9xl: 28px;
    --gap-73xl: 92px;
    --gap-250xl: 269px;
    --gap-29xl: 48px;
    --gap-325xl: 344px;
    /* Paddings */
    --padding-3xl: 22px;
    --padding-16xl: 35px;
    --padding-lg: 18px;
    --padding-base: 16px;
    --padding-2xs: 11px;
    --padding-49xl: 68px;
    --padding-50xl: 69px;
    --padding-4xl: 23px;
    --padding-mid: 17px;
    --padding-mini: 15px;
    --padding-8xs: 5px;
    --padding-11xs: 2px;
    --padding-5xl: 24px;
    --padding-36xl: 55px;
    --padding-38xl: 57px;
    --padding-3xs: 10px;
    --padding-xl: 20px;
    --padding-27xl: 46px;
    --padding-9xl: 28px;
    --padding-7xs: 6px;
    --padding-7xl: 26px;
    --padding-xs: 12px;
    --padding-9xs: 4px;
    --padding-449xl: 468px;
    --padding-26xl: 45px;
    --padding-5xs: 8px;
    --padding-15xl: 34px;
    --padding-2xl: 21px;
    --padding-22xl: 41px;
    --padding-6xs: 7px;
    --padding-41xl: 60px;
    --padding-19xl: 38px;
    --padding-28xl: 47px;
    --padding-8xl: 27px;
    --padding-4xs: 9px;
    --padding-37xl: 56px;
    --padding-10xs: 3px;
    --padding-10xl: 29px;
    --padding-6xl: 25px;
    --padding-314xl: 333px;
    --padding-341xl: 360px;
    --padding-161xl: 180px;
    --padding-71xl: 90px;
    --padding-121xl: 140px;
    --padding-197xl: 216px;
    --padding-23xl: 42px;
    --padding-34xl: 53px;
    --padding-53xl: 72px;
    --padding-180xl: 199px;
    --padding-110xl: 129px;
    --padding-65xl: 84px;
    --padding-266xl: 285px;
    --padding-101xl: 120px;
    --padding-166xl: 185px;
    --padding-116xl: 135px;
    --padding-69xl: 88px;
    --padding-74xl: 93px;
    --padding-20xl: 39px;
    --padding-45xl: 64px;
    --padding-11xl: 30px;
    --padding-lgi: 19px;
    --padding-smi: 13px;
    --padding-32xl: 51px;
    --padding-24xl: 43px;
    --padding-17xl: 36px;
    --padding-13xl: 32px;
    --padding-259xl: 278px;
    --padding-162xl: 181px;
    --padding-85xl: 104px;
    --padding-73xl: 92px;
    /* Border radiuses */
    --br-5xs: 8px;
    --br-mini: 15px;
    --br-21xl: 40px;
    --br-12xs-2: 0.2px;
    --br-15xl: 34px;
    --br-base: 16px;
    --br-3xs: 10px;
    --br-40xl: 59px;
    --br-9xl: 28px;
    --br-22xl: 41px;
    --br-26xl: 45px;
    --br-8xs: 5px;
}
